name: 'Repository Manager'

on:
  push:
    branches:
    - master

jobs:
  terraform:
    name: 'Deploy'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 0.13.0
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - uses: actions/setup-node@v1
      with:
        node-version: '12'

    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@v1
      with:
        app_id: ${{ secrets.APP_ID }}
        private_key: ${{ secrets.PRIVATE_KEY }}

    - run: yarn install
    - run: "mkdir .gen" # Will go away with one of the next versions of cdktf
    - name: Deploy
      env:
        GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
      run: "$(yarn bin)/cdktf synth"
    - run: "cd cdktf.out && rm -rf .terraform && terraform init && terraform plan"